@page
@model ProfileModel
@{
    ViewData["Title"] = "My Profile";
}

<div class="container mt-5">
    <h2 class="mb-5 text-center text-primary text-uppercase font-weight-bold">My Profile</h2>

    @if (Model.CurrentEmployee != null)
    {
        <div class="card border border-primary">
            <div class="card-body">
                <div class="d-flex flex-row justify-content-around align-items-start">
                    <div class="d-flex flex-column">
                        <strong>
                            <p class="fs-2 mb-0 font-weight-bold">Name: @Model.CurrentEmployee.Name</p>
                        </strong>
                        <img src="@Model.CurrentEmployee.Image" alt="Profile Image" width="200" class="img-fluid my-4" />
                        <a asp-page="/EditPersonalInformation" asp-route-id="@Model.CurrentEmployee.Id"
                            class="btn btn-primary">Edit
                            Personal Information</a>
                    </div>

                    <p class="card-text d-flex flex-column">
                        <strong class="fs-2">Personal Information</strong><br />

                        <strong>Email:</strong> @Model.CurrentEmployee.Email<br />
                        <strong>Address:</strong> @Model.CurrentEmployee.Address<br />
                        <strong>Phone Number:</strong> @Model.CurrentEmployee.PhoneNumber<br />
                        <strong>BSN:</strong> @Model.CurrentEmployee.BSN<br />
                        <strong>Bank Account:</strong> @Model.CurrentEmployee.BankAccount<br />
                    </p>
                    <p class="card-text d-flex flex-column">
                        <strong class="fs-2">Company Information</strong><br />
                        <strong>ID:</strong> @Model.CurrentEmployee.Id<br />
                        <strong>Role:</strong> @Model.CurrentEmployee.Role<br />
                        <strong>Department:</strong> @Model.CurrentEmployee.Department<br />
                        <strong>Hourly Wage:</strong> $@Model.CurrentEmployee.HourlyWage.ToString("N2")<br />
                        <strong>Registered Date:</strong> @Model.CurrentEmployee.RegisterDate.ToShortDateString()<br />
                        <strong>Active:</strong> @(Model.CurrentEmployee.IsActive ? "Yes" : "No")<br />
                    </p>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="alert alert-warning" role="alert">
            No employee data available.
        </div>
    }
</div>
