@page
@model BazaarWebApp.Pages.UserWorkScheduleModel
@{
    ViewData["Title"] = "User Work Schedule";
}

<h2>@Model.EmployeeName's work schedule for current & next week</h2>

<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Day</th>
            <th>Shift</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var shift in Model.ProperSchedule)
        {
            var shiftDate = shift.Item1;
            var shiftType = shift.Item2;

            <tr>
                <td>@shiftDate.ToString("MM/dd/yyyy")</td>
                <td>@shiftDate.ToString("dddd") @(shiftDate == new DateOnly(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day) ? "(Today)" : "")</td>
                <td>@shiftType</td>
            </tr>
        }
    </tbody>
</table>
